node_modules/
dist/
.env
*.log
.DS_Store
screenshots/
reports/

clients/*/
!clients/.gitkeep
!clients/examples/  # Mantener cliente de ejemplo
!clients/latam/  # Mantener cliente de latam

performance.xml
repomix-output.xml